@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="~\client\bootstrap-material\css\bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="~/client/bootstrap-material/css/mdb.min.css" rel="stylesheet">
        <!-- Your custom styles (optional) -->
        <link href="~/client/bootstrap-material/css/style.css" rel="stylesheet">
        <title>Hello React!</title>
    </head>
    <body>
        <div id="root"></div>
    
        <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

        <!-- Main -->
        <script src="~/client/bundle.js"></script>
        <!-- SCRIPTS -->
        <!-- JQuery -->
        <script type="text/javascript" src="~/client/bootstrap-material/js/jquery-3.3.1.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="~/client/bootstrap-material/js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="~/client/bootstrap-material/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="~/client/bootstrap-material/js/mdb.min.js"></script>
    </body>
</html>